[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyside6 = "*"
vt-py = "*"
qasync = "*"
python-magic = "*"
pygal = "*"

[dev-packages]
python-lsp-server = "*"

[requires]
python_version = "3.12"
